body{
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}


.text-field input{
  border-radius: 3px;
  border: 0;
  outline: none;
  padding: 10px;
  width: 90% !important;
}

.text-field button{
  font-size: 1.3rem;
  padding: 3px 10px !important;
}

.image-container{

  /* border: 1px solid black; */
  width: 100%;
  max-width: 750px;
}

.text-input-container{

  /* border: 1px solid black; */
  width: 100%;
  max-width: 350px;
  margin-top: 16%;

}

.img-box img{
  width: 200px;
  height: 200px;

  border-radius: 5px;
}
.container{
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .container{
      justify-content: center !important;
  }
}


